:root {
  --color-main-hue: 206;
  --color-accent-hue: 37;
  
  --color-glass-regular: hsl(var(--color-main-hue), 58%, 16%, 0.50);

  --color-navy-regular: hsl(var(--color-main-hue), 65%, 11%);
  --color-navy-lighter: hsl(var(--color-main-hue), 58%, 16%);
  --color-navy-lightest: hsl(var(--color-main-hue), 41%, 23%);

  --color-slate-regular: hsl(var(--color-main-hue), 15%, 63%);
  --color-slate-lighter: hsl(var(--color-main-hue), 31%, 74%);
  --color-slate-lightest: hsl(var(--color-main-hue), 70%, 88%);

  --color-white-regular: hsl(var(--color-main-hue), 100%, 95%);

  --color-orange-regular: hsl(var(--color-accent-hue), 100%, 48%);
  --color-orange-lighter: hsl(var(--color-accent-hue), 94%, 63%);

  --font-size-md: 0.5rem;
  --font-size-lg: 0.75rem;
  --font-size-xl: 1rem;
  --font-size-2xl: 1.25rem;
  --font-size-3xl: 1.75rem;
  --font-size-4xl: 2rem;
  --font-size-5xl: 2.25rem;
  
  --gutter-size: 2rem;
}

* {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Inter';
  src: url('static/fonts/Inter/Inter-VariableFont_slnt,wght.ttf') format('truetype-variations');
  font-weight: 1 999;
}

html, body {
  background-color: var(--color-navy-regular);
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-navy-regular);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-slate-lightest);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-slate-lighter);
}

/* Design Trend: Glassmorphism */
.panel {
  background-color: var(--color-glass-regular);
  padding: var(--font-size-2xl);
  backdrop-filter: blur(4px);
  
  border: 1px solid var(--color-navy-lighter);
  border-radius: 0.5rem;
}

.fade-up:not(.visited), .panel:not(.visited) {
  opacity: 0%;
}
.fade-up.visited, .panel.visited {
  animation: fade-up 1s 1;
}

@keyframes fade-up {
  0% {
    opacity: 0%;
    transform: translateY(3rem);
  }

  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

.button {
  display: block;
  width: fit-content;

  background-color: var(--color-orange-lighter);
  color: var(--color-navy-regular);
  text-decoration: none;

  font-weight: bold;
  font-size: var(--font-size-xl);

  border-radius: 0.5rem;
  padding: 1rem 2.5rem;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: var(--color-orange-regular);
}

main {
  background-color: transparent;
  z-index: 10;
}

.bg {
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--color-navy-regular);
}

a:not(.button) {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: var(--color-white-regular);
  transition: color 0.2s ease-in-out;
}

a:not(.button)::after {
  position: absolute;
  bottom: 0;
  left: 0;

  content: '';
  width: 100%;
  height: 2px;
  
  background-color: var(--color-white-regular);
  transition: background-color 0.2s ease-in-out;
}

a:not(.button):hover::after {
    background-color: var(--color-orange-lighter);
}

/* Navigation */
header {
  width: 100%;
  position: fixed;
  z-index: 50;
}

header nav {
  opacity: 25%;
  display: flex;
  padding: calc(var(--gutter-size)/2) var(--gutter-size);
  /* background-color: var(--color-navy-lightest); */
}

header nav img {
  width: var(--font-size-5xl);
  height: var(--font-size-5xl)/2;
}

/* Hero */
#hero {
  min-height: 100vh;
  padding: 4rem var(--gutter-size);

  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

#hero .panel {
  max-width: 64rem;
}

#hero .panel h1 {
  font-weight: 900;
  font-size: var(--font-size-5xl);
  color: var(--color-orange-lighter);
}

#hero .panel h2 {
  margin-top: 1rem;
  font-weight: bold;
  font-size: var(--font-size-2xl);

  color: var(--color-white-regular);
}

#hero .panel ul {
  margin: 2.75rem 0;

  font-weight: 400;
  font-size: var(--font-size-xl);
  color: var(--color-white-regular);

  list-style-type: none;
}

#hero .panel ul li {
  margin: 1rem 0;
  min-height: 3rem;
  
  position: relative;
  padding-left: 2.5rem;
}

#hero .panel ul li::before {
  position: absolute;
  content: url('./static/icons/check.svg');
  left: 0;
}

#hero #timer {
  --bar-width: 2%;
  position: relative;

  width: calc(var(--font-size-5xl)*5);
  height: calc(var(--font-size-5xl)*5);

  display: flex;
  justify-content: center;
  align-items: center;
}

#hero #timer p {
  position: relative;
  width: 75%;
  color: var(--color-white-regular);
  font-weight: bold;
  font-size: var(--font-size-lg);
  text-align: center;
}

#hero #timer svg {
  position: absolute;
  top: 0;
  left: 0;
}

#hero #timer svg circle:nth-of-type(1) {
  fill: var(--color-glass-regular);
  stroke: var(--color-glass-regular);
  /* stroke: linear-gradient(var(--color-orange-regular), var(--color-orange-lighter)); */
  stroke-width: calc(var(--bar-width) - 2px);

  /* circumference = 2*pi*r = 6r */
  stroke-dasharray: calc(2 * 3 * 50%);
  stroke-dashoffset: 0;
}

#hero #timer svg circle:nth-of-type(2) {
  fill: transparent;
  stroke: url("#timerGradient");
  stroke-width: calc(var(--bar-width));
}

/* general grid section styles */
#logistics h2, #leadership h2 {
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: var(--font-size-3xl);
  color: var(--color-orange-lighter)
}

#logistics h3, #leadership h3 {
  font-weight: bold;
  font-size: var(--font-size-xl);
}

#logistics .panel, #leadership .panel {
  display: block;
  height: fit-content;
  font-weight: 400;
  font-size: var(--font-size-xl);
  color: var(--color-white-regular);
}

#logistics .panel ul, #leadership .panel ul {
  margin: 1rem 0 0 2rem;
}

/* Logistics Section */
#logistics,#leadership {
  display: grid;
  padding: 0 var(--gutter-size);
  grid-template-columns: 1fr;
  row-gap: 1rem;
}

#logistics div {
  height: fit-content;
  display: grid;
  row-gap: 1rem;
}

#leadership div {
  height: fit-content;
}

/* Leadership Section */

#leadership {
  margin-top: 4rem;
  padding: 0 var(--gutter-size);
  display: grid;

  grid-template-columns: 1fr;
  row-gap: 1rem;
}



#leadership .panel:nth-child(1) ul {
  list-style-type: none;
  margin-left: 0;
}

#leadership .panel:nth-child(1) ul li {
  margin: 1rem 0;
}

#leadership .panel:nth-child(1) ul li span:nth-child(1) {
  font-weight: 500;
}

#leadership .panel:nth-child(1) ul li span:nth-child(2) {
  font-weight: 100;
  font-style: italic;
}
#leadership .panel:nth-child(1) ul li span:nth-child(2)::before {
  content: "|";
  font-style: normal;
  margin: 0 0.25rem 0 0.5rem;
}

#leadership #partners div {
  position: absolute;
  right: var(--font-size-2xl);
  top: calc(var(--font-size-2xl) + var(--font-size-3xl) / 3);
}
#leadership #partners div img {
  margin: 0 0.25rem;
  width: 2rem;
  height: 2rem;
}

/* Footer */

footer {
  position: relative;
  margin-top: 4rem;
  padding: 2rem var(--gutter-size);
}

footer p {
  text-align: right;
  color: var(--color-white-regular);
  font-weight: 100;
  font-size: var(--font-size-lg);
}

footer p a {
  text-decoration: none;
  color: var(--color-white-regular);
  font-weight: 400;
}

@media screen and (min-width: 640px) {
  
}

@media screen and (min-width: 768px) {
  :root {
    --font-size-md: 0.75rem;
    --font-size-lg: 1rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 1.75rem;
    --font-size-3xl: 2.25rem;
    --font-size-4xl: 3rem;
    --font-size-5xl: 4rem;
    
    --gutter-size: 2rem;
  }

  /* Logistics Section */
  #logistics {
    grid-template-columns: 5fr 3fr;
    column-gap: 2rem;
  }

  #logistics div {
    row-gap: 2rem;
  }

  /* Leadership Section */

  #leadership {
    grid-template-columns: 4fr 3fr;
    column-gap: 2rem;
  }

  #leadership div {
    height: fit-content;
  }
}

@media screen and (min-width: 1024px) {
  
}

@media screen and (min-width: 1280px) {
  :root {
    --font-size-md: 0.75rem;
    --font-size-lg: 1rem;
    --font-size-xl: 1.5rem;
    --font-size-2xl: 2rem;
    --font-size-3xl: 3rem;
    --font-size-4xl: 4rem;
    --font-size-5xl: 5rem;

    --gutter-size: 4rem;
  }
}

@media screen and (min-width: 1536px) {
  :root {
    --font-size-md: 1rem;
    --font-size-lg: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-2xl: 3rem;
    --font-size-3xl: 4rem;
    --font-size-4xl: 5rem;
    --font-size-5xl: 6rem;

    --gutter-size: 6rem;
  }
}